body {
	background-image: url("../img/IMG_6699.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}


section {
	width: 600px;
	background-color: rgba(0, 0, 0, 0.35);
	position: absolute; 
	right: 100px;
	top: 100px;
}
section h1,
section p {
	text-align: center;
	color: fuchsia;
}
section h1 {
	font: 50px 'Open Sans';
	font-weight: bold;
	color: #fff; 
}
section p {
	font: 16px 'Open Sans';
}

